# Table of Contents
01. Importing Libraries
02. Importing Data
03. Descriptive Stats
04. Checking for and handling Missing values
05. Checking for Duplicates
06. Checking for Mixed Data Types
07. Cleaning Data
08. Exporting Data

## 01. Importing Libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [2]:
#define path
path = r'C:\Users\legra\Desktop\08-2022 Airline Delays Analysis'

In [3]:
path

'C:\\Users\\legra\\Desktop\\08-2022 Airline Delays Analysis'

In [4]:
#import data
df = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'airline delay cause.csv'))

In [5]:
df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2021,12,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",127.0,9.0,2.51,0.00,...,0.0,2.95,0.0,0.0,264.0,119.0,0.0,68.0,0.0,77.0
1,2021,12,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",73.0,11.0,5.02,0.00,...,0.0,1.87,0.0,0.0,342.0,125.0,0.0,142.0,0.0,75.0
2,2021,12,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",62.0,8.0,2.63,0.00,...,0.0,1.15,0.0,0.0,439.0,156.0,0.0,103.0,0.0,180.0
3,2021,12,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",166.0,18.0,8.53,3.25,...,0.0,2.74,0.0,1.0,1266.0,291.0,693.0,167.0,0.0,115.0
4,2021,12,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",52.0,6.0,3.15,1.88,...,0.0,0.82,0.0,0.0,497.0,278.0,180.0,21.0,0.0,18.0

In [6]:
df.shape

(38813, 21)

## 03. Descriptive Stats

In [7]:
#checking descriptive statistics on df
df.describe()

,year,month,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
count,38813.000000,38813.000000,38701.000000,38528.000000,38701.000000,38701.000000,38701.000000,38701.000000,38701.000000,38701.000000,38701.000000,38701.000000,38701.000000,38701.000000,38701.000000,38701.000000,38701.000000
mean,2020.514106,6.464484,276.058784,37.433892,14.234017,1.650536,10.112640,0.161366,11.108046,9.924653,0.564869,2416.559288,993.707837,167.290044,438.271931,7.469652,809.806155
std,0.499807,3.475723,789.465294,117.954620,41.778492,6.344475,37.800764,0.832657,42.753924,74.116713,2.743357,8482.627403,3472.124355,738.557080,1865.667118,46.324259,3252.340813
min,2020.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2020.000000,3.000000,31.000000,3.000000,1.000000,0.000000,0.030000,0.000000,0.000000,0.000000,0.000000,143.000000,45.000000,0.000000,1.000000,0.000000,0.000000
50%,2021.000000,6.000000,78.000000,9.000000,3.770000,0.000000,2.000000,0.000000,1.850000,0.000000,0.000000,499.000000,195.000000,0.000000,65.000000,0.000000,102.000000
75%,2021.000000,9.000000,186.000000,25.000000,10.510000,1.050000,6.200000,0.000000,6.270000,3.000000,0.000000,1516.000000,664.000000,87.000000,236.000000,0.000000,435.000000
max,2021.000000,12.000000,20669.000000,3402.000000,1147.000000,226.000000,1105.830000,41.970000,1531.810000,4951.000000,154.000000,305694.000000,111645.000000,27876.000000,63629.000000,3760.000000,143192.000000

In [8]:
#checking data types
df.dtypes

year                     int64
month                    int64
carrier                 object
carrier_name            object
airport                 object
airport_name            object
arr_flights            float64
arr_del15              float64
carrier_ct             float64
weather_ct             float64
nas_ct                 float64
security_ct            float64
late_aircraft_ct       float64
arr_cancelled          float64
arr_diverted           float64
arr_delay              float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
dtype: object

## 04. Checking for Missing Data

In [9]:
#checking for missing values
df.isnull().sum()

year                     0
month                    0
carrier                  0
carrier_name             0
airport                  0
airport_name             0
arr_flights            112
arr_del15              285
carrier_ct             112
weather_ct             112
nas_ct                 112
security_ct            112
late_aircraft_ct       112
arr_cancelled          112
arr_diverted           112
arr_delay              112
carrier_delay          112
weather_delay          112
nas_delay              112
security_delay         112
late_aircraft_delay    112
dtype: int64

In [10]:
#create subset to view missing values
df_nan = df[df['arr_flights'].isnull() == True]

In [11]:
#checking output
df_nan

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
815,2021,12,MQ,Envoy Air,MFE,"Mission/McAllen/Edinburg, TX: McAllen Miller I...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1529,2021,12,YV,Mesa Airlines Inc.,BRO,"Brownsville, TX: Brownsville South Padre Islan...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3953,2021,10,F9,Frontier Airlines Inc.,LAX,"Los Angeles, CA: Los Angeles International",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4452,2021,10,OO,SkyWest Airlines Inc.,ABI,"Abilene, TX: Abilene Regional",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4685,2021,10,OO,SkyWest Airlines Inc.,TYR,"Tyler, TX: Tyler Pounds Regional",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33404,2020,4,YX,Republic Airline,LFT,"Lafayette, LA: Lafayette Regional Paul Fournet...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35237,2020,3,YV,Mesa Airlines Inc.,HRL,"Harlingen/San Benito, TX: Valley International",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37546,2020,1,EV,ExpressJet Airlines LLC,CRW,"Charleston/Dunbar, WV: Yeager",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38141,2020,1,OH,PSA Airlines Inc.,TOL,"Toledo, OH: Toledo Express",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38199,2020,1,OO,SkyWest Airlines Inc.,COD,"Cody, WY: Yellowstone Regional",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Additional missing data from the arr_del15 column represent flights that were cancelled.

In [12]:
#create df without missing values
df_clean = df[df['arr_flights'].isnull() == False]

In [13]:
#checking for accuracy
df_clean.isnull().sum()

year                     0
month                    0
carrier                  0
carrier_name             0
airport                  0
airport_name             0
arr_flights              0
arr_del15              173
carrier_ct               0
weather_ct               0
nas_ct                   0
security_ct              0
late_aircraft_ct         0
arr_cancelled            0
arr_diverted             0
arr_delay                0
carrier_delay            0
weather_delay            0
nas_delay                0
security_delay           0
late_aircraft_delay      0
dtype: int64

In [14]:
df_clean.shape

(38701, 21)

## 05. Checking for Duplicates

In [15]:
#create df for dups
df_dups = df_clean[df_clean.duplicated()]

In [16]:
df_dups

Empty DataFrame
Columns: [year, month, carrier, carrier_name, airport, airport_name, arr_flights, arr_del15, carrier_ct, weather_ct, nas_ct, security_ct, late_aircraft_ct, arr_cancelled, arr_diverted, arr_delay, carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay]
Index: []

[0 rows x 21 columns]

No duplicates found

## 06. Checking for Mixed Datatypes

In [17]:
for col in df_clean.columns.tolist():
  weird = (df_clean[[col]].applymap(type) != df_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_clean[weird]) > 0:
    print (col)

No mixed data types found

## 07. Data Cleaning

In [18]:
#changing column names for clarity
df_clean.rename(columns = {'arr_flights' : 'arriving_flight_count'}, inplace = True)
df_clean.rename(columns = {'arr_del15' : 'arrival_delayed_15_minutes_more'}, inplace = True)
df_clean.rename(columns = {'carrier_ct' : 'carrier_delay_count'}, inplace = True)
df_clean.rename(columns = {'weather_ct' : 'weather_delay_count'}, inplace = True)
df_clean.rename(columns = {'nas_ct' : 'nas_delay_count'}, inplace = True)
df_clean.rename(columns = {'security_ct' : 'security_delay_count'}, inplace = True)
df_clean.rename(columns = {'late_aircraft_ct' : 'late_aircraft_count'}, inplace = True)
df_clean.rename(columns = {'arr_cancelled' : 'arrival_cancelled_count'}, inplace = True)
df_clean.rename(columns = {'arr_diverted' : 'arrival_diverted_count'}, inplace = True)
df_clean.rename(columns = {'arr_delay' : 'arrival_delay_minutes'}, inplace = True)
df_clean.rename(columns = {'carrier_delay' : 'carrier_delay_minutes'}, inplace = True)
df_clean.rename(columns = {'weather_delay' : 'weather_delay_minutes'}, inplace = True)
df_clean.rename(columns = {'nas_delay' : 'nas_delay_minutes'}, inplace = True)
df_clean.rename(columns = {'security_delay' : 'security_delay_minutes'}, inplace = True)
df_clean.rename(columns = {'late_aircraft_delay' : 'late_aircraft_delay_minutes'}, inplace = True)

C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'arr_flights' : 'arriving_flight_count'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'arr_del15' : 'arrival_delayed_15_minutes_more'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'carrier_ct' : 'carrier_delay_count'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'weather_ct' : 'weather_delay_count'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'nas_ct' : 'nas_delay_count'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'security_ct' : 'security_delay_count'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'late_aircraft_ct' : 'late_aircraft_count'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'arr_cancelled' : 'arrival_cancelled_count'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'arr_diverted' : 'arrival_diverted_count'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'arr_delay' : 'arrival_delay_minutes'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'carrier_delay' : 'carrier_delay_minutes'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'weather_delay' : 'weather_delay_minutes'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'nas_delay' : 'nas_delay_minutes'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'security_delay' : 'security_delay_minutes'}, inplace = True)
C:\Users\legra\AppData\Local\Temp\ipykernel_16760\956115548.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns = {'late_aircraft_delay' : 'late_aircraft_delay_minutes'}, inplace = True)

In [19]:
#checking output
df_clean.head()

,year,month,carrier,carrier_name,airport,airport_name,arriving_flight_count,arrival_delayed_15_minutes_more,carrier_delay_count,weather_delay_count,...,security_delay_count,late_aircraft_count,arrival_cancelled_count,arrival_diverted_count,arrival_delay_minutes,carrier_delay_minutes,weather_delay_minutes,nas_delay_minutes,security_delay_minutes,late_aircraft_delay_minutes
0,2021,12,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",127.0,9.0,2.51,0.00,...,0.0,2.95,0.0,0.0,264.0,119.0,0.0,68.0,0.0,77.0
1,2021,12,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",73.0,11.0,5.02,0.00,...,0.0,1.87,0.0,0.0,342.0,125.0,0.0,142.0,0.0,75.0
2,2021,12,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",62.0,8.0,2.63,0.00,...,0.0,1.15,0.0,0.0,439.0,156.0,0.0,103.0,0.0,180.0
3,2021,12,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",166.0,18.0,8.53,3.25,...,0.0,2.74,0.0,1.0,1266.0,291.0,693.0,167.0,0.0,115.0
4,2021,12,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",52.0,6.0,3.15,1.88,...,0.0,0.82,0.0,0.0,497.0,278.0,180.0,21.0,0.0,18.0

## 08. Exporting Data

In [20]:
#export df
df_clean.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'airline_delay_wrangled.csv'))

In [21]:
df_clean.shape

(38701, 21)

In [22]:
df_clean.head()

,year,month,carrier,carrier_name,airport,airport_name,arriving_flight_count,arrival_delayed_15_minutes_more,carrier_delay_count,weather_delay_count,...,security_delay_count,late_aircraft_count,arrival_cancelled_count,arrival_diverted_count,arrival_delay_minutes,carrier_delay_minutes,weather_delay_minutes,nas_delay_minutes,security_delay_minutes,late_aircraft_delay_minutes
0,2021,12,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",127.0,9.0,2.51,0.00,...,0.0,2.95,0.0,0.0,264.0,119.0,0.0,68.0,0.0,77.0
1,2021,12,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",73.0,11.0,5.02,0.00,...,0.0,1.87,0.0,0.0,342.0,125.0,0.0,142.0,0.0,75.0
2,2021,12,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",62.0,8.0,2.63,0.00,...,0.0,1.15,0.0,0.0,439.0,156.0,0.0,103.0,0.0,180.0
3,2021,12,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",166.0,18.0,8.53,3.25,...,0.0,2.74,0.0,1.0,1266.0,291.0,693.0,167.0,0.0,115.0
4,2021,12,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",52.0,6.0,3.15,1.88,...,0.0,0.82,0.0,0.0,497.0,278.0,180.0,21.0,0.0,18.0